@media screen and (max-width: 500px) {
  .background {
    height: auto;
    background: url(/images/bg-top.svg) right -193px top -35px no-repeat
      hsl(240, 78%, 98%);

    .planCards {
      display: block;
      width: 100%;
      &__card {
        margin: 0 auto 35px;
      }
      .basicCard {
        border-radius: 10px;
      }
      .professionalCard {
        height: 453px;
        padding: 30px;

        border-radius: 10px;
      }
      .masterCard {
        border-radius: 10px;
      }
    }
  }
}
